.login-wrapper {

  form {
    width: 50rem;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 3rem 5rem;
    border: 5px solid orange;
    color: white;

    label {
      font-weight: bold;
      padding: 1rem 0;
    }

    button {
      width: 10rem;
    }

    input, button {
      border-radius: 0;
    }
  }
}
